@{
  Layout = "_Layout";
}
@using PierreTreats.Models
@model IEnumerable<PierreTreats.Models.Flavor>

<h1>@User.Identity.Name Your documented flavor notes</h1>

@if (Model.Any())
{
    <ul>
      @foreach (Flavor flavor in Model)
      {
          <li>@Html.ActionLink($"{flavor.FlavorNotes}", "Details", new { id = flavor.FlavorId })</li>
      }
    </ul>
} 
else
{
    <h3>No flavors have been added yet! Put the food in your mouth and then </h3>
}
<p>@Html.ActionLink("Add new flavor", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>